.products{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: auto 40px;
}