/* style product component  */
.product-container{
    background-color: #00203FFF;
    color: #ADEFD1FF;
    border: 0;
    border-radius: 10px;
}
.product-imges{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-container img{
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 10px;
}
.product-container .product-details{
    padding: 20px; 
}
.product-container .product-details button{
    background-color: teal;
    padding: 5px 40px;
    color: wheat;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    
}
